.TasksContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.Tasks{
  display: flex;
}

.ControlPanel{
  display: flex;
  margin-right: 8px;
  justify-content: space-between;
}

.Footer{
  margin-bottom: 8px;
}