.RegContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  height: 350px;
  width: 500px;
}

.PageName{
  margin-bottom: 10px;
}