.MainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.Header {
  display: flex;
  margin-right: 8px;
  justify-content: space-between;
}

.Footer{
  margin-bottom: 8px;
}

.TasksContainer{
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 4px;
  border: 1px solid lightgray;
  border-radius: 4px;
  width: 1000px;

}
.Task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin: 4px;
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: white;
}

.Content {
  display: flex;
  padding: 5px;
  background-color: white;
  border-right: 1px solid lightgray;;
  width: 750px;
}
.ControlPanel {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 4px;
  background-color: white;
}

.TitleSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  background-color: white;
}

.Error {
  margin: 10px 8px;
}